@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ซ่อนลูกศรใน input ของ number */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* ซ่อน spinner สำหรับ Chrome/Safari */
    margin: 0;
    /* ลบ margin */
  }

  input[type='number'] {
    appearance: none;
    /* ซ่อน spinner สำหรับ Firefox */
  }

}